* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
/* shared */
#btn {
  background-color: #fd6e0a;
  color: white;
  font-weight: bold;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

header {
  background-color: #fff8f3;
  background: url("images/developer.png"), url("images/header_bg.png"), #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav {
  padding-top: 50px;
  width: 71%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    color: black;
    font-size: 45px;
    font-weight: 900;
    span {
      color: #fd6e0a;
    }
  }
  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 51px;
    li {
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: #474747;
    }
  }
}

/* hero section */
#hero {
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-left {
  max-width: 585px;
  h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
.hero-right {
  max-width: 585px;
  img {
    vertical-align: middle;
  }
}

/* about section */
#about-section {
  background-color: #fff8f3;
  padding: 131px 156px;
  width: 71%;
  margin: 130px auto;
}

/* shared */
.about-top {
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
  }
  p {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
  }
}
/* shared */
.about-bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  .cards {
    line-height: 30px;
    font-size: 20px;
  }
  p {
    color: #757575;
  }
  h4 {
    font-weight: bold;
  }
}

#skills {
  width: 71%;
  margin: 0 auto 130px auto;
  .skill-top {
   h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
  }
  p {
    text-align: center;
    max-width:827px;
    line-height: 30px;
    font-size: 18px;
    color: #757575;
    margin: 0px auto 30px auto;
  }
  }
  .skill-bottom{
    display:flex;
    justify-content:space-evenly;
    gap:24px;
    .cards{
      img{
        margin-bottom:30px;
      }
      padding:30px;
      background-color:white;
      box-shadow:0px 6px 30px 0px #c4c2c2;
      h4{
        margin-bottom:20px;
        font-size:20px;
        font-weight:bold;
      }
      p{
        font-size:16px;
        color:#757575;
        line-height:28px;
      }
    }
  }
}

/* resume-section */
#resume-section{
  width:71%;
  margin:130px auto;
  h2{
    text-align:center;
    font-size:35px;
    font-weight:bold;
    margin-bottom:113px;
  }
  .resume-contents{
    display:flex;
    gap:24px;
    justify-content:space-between;
    h3{
      font-size:30px;
      margin-bottom:30px;
      font-weight:bold;
      color:rgb(32, 31, 31);
    }
    .card{
      max-width:511px;
      h4{
        margin-top:30px;
        font-size:25px;
        font-weight:bold;
        color:rgb(32, 31, 31);
        margin-bottom:10px;
      }
      h5{
        font-size:20px;
        font-weight:600;
        margin-bottom:20px;
        color:#757575;
      }
      p{
        font-size:16px;
        color:#757575;
        line-height:28px;
        margin-bottom:30px;
      }
    }
  }
  .button-container{
    text-align:center;
  }
}