body{
    max-width:1600px;
    margin:0 auto;
}
.container{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:repeat(6,150px);
}
img{
    width:100%;
    height:100%;
}
.wide-area{
    grid-column:span 6;
    grid-row:span 2;
}
.normal-area{
    grid-column:span 2;
    grid-row:span 2;
}
.stretch-area{
    grid-column:span 2;
}